/* purgecss start ignore */
@tailwind base;
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

@font-face {
  font-family: 'NeueHaas';
  src: url('../public/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayBlack.ttf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaas';
  src: url('../public/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayBlackItalic.ttf');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'NeueHaas';
  src: url('../public/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayBold.ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaas';
  src: url('../public/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayBoldItalic.ttf');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'NeueHaas';
  src: url('../public/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayMediu.ttf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaas';
  src: url('../public/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayRoman.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'NeueHaas';
  src: url('../public/neue-haas-grotesk-display-pro-cufonfonts/NeueHaasDisplayLight.ttf');
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'NeueHaas';
  background-color: #fffded;
}
